@import './reset';
@import './color';
@import './variable';




body {
    font-family: 'Montserrat', sans-serif;

   
}

.container {
    margin: 0 auto;
    max-width: 1000px;
    padding: 0;
}

.active {
    border: 1px solid black;
    padding: 3px 10px;
}

.align-item {
    @include align-item(space-between);
}


.hide_scroll{
    max-height: 240px;
    overflow: hidden;
}

.hide_scroll_friends{
    max-height: 290px;
    overflow: hidden;
}
// main background styling
.main {
    width: 100%;
    height: auto;
    background: url('/assert/img/Emerging-Placements-Designers.png');
    border-radius: 0px 0px 0px 50px;
    position: relative;
    @include background-setting;
    z-index: 1;

    @include desktop {
        border-radius: 0px 0px 0px 0px;

    }



    &__overlay {
        width: 100%;
        height: auto;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.863) 71.13%, rgba(87, 87, 87, 0.801) 93.02%);
        border-radius: 0px 0px 0px 50px;

        @include desktop {
            border-radius: 0px 0px 0px 0px;

        }
    }


    // header section
    & .header {
       width: 100%;
    //    background: white;
       position: relative;
       margin-bottom: 50px;

        @include desktop {
            padding:  0px;
          
           
       }

       .nav-len {
        padding: 15px 20px;
        @include align-item(space-between);
        max-width: 1000px;
        margin: 0 auto;

        @include desktop {
            padding:  15px 0px;
       }

       .header__navlinks {
           display:none;

           @include desktop {
           display:block;

           .active-d {
               border-bottom: 3px solid black;
               padding-bottom: 4px;
               color: black;
           }

           & ul {
               display: flex;

               & li {
                   padding-right: 50px;

                   a {
                       font-weight: 600;
                       transition: $transition;

                       &:hover {
                        color: black;
                    }
                   }
               }
           }
       }

       }
    }

        &__nav {

            & span {
                & .bar {
                    font-size: 30px;

                    @include desktop {
                        display: none;
                    }
                }
            }

        }// header >> nav

         &__search {
                width: 250px;
                text-align: center;  
                padding: 7px  6px;  
                background: #FFFFFF;
                box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
                border-radius: 20px;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

                @include tablet {
                     width: 320px;

                }

                @include desktop {
                    width: 400px;
                    padding:9px 0               }


                & input[type="text"] {
                   background: transparent;
                   border:none;

                   @include tablet {
                    width: 250px;

               }
               @include desktop {
                width: 300px;
                font-size: 15px;
                color: $link-color
            }


                }

                & .search-icon {
                    font-size: 18px;
                    padding-left: 10px;
                    color: #000;
                    transition: $transition;

                    &:hover {
                        color: $link-color
                    }

                    @include desktop {
                        margin-left: 15px;
                    }

                }
            }// header >> search

    }// header


    //nav
    .nav {
        width: 100%;
        height: 100vh;
        background: rgba(255, 255, 255, 0.959);
        z-index: 10;
        text-align: center;
        transition: 340ms all ease-in-out;
        position: fixed;
        top: 0;
        left: 0;
        visibility: hidden;
        // display:none;

        .close-btn {
            position: absolute;
            left: 0;
            top: 0;
            padding: 20px 0px 20px 15px;
            margin-bottom: 22px;

            .fa-close {
                font-size: 27px;
            }
        }

        .nav-profile {
            display: block;
            margin-top: 50px;

           
        }

        & ul {
            margin-top: 22px;

            & li {
                padding: 12px 0px;
    
                & a {
                    color: $link-color;
                    font-weight: 600;

                  
                }
            }
        }
       
    }




    // owner styling
    .owner {
        padding: $m-padding;
        @include align-item(space-between);

        

        @include desktop {
            padding: 0;
            margin-top: 40px;
            margin-bottom: 40px;


       }

        &__details {
            line-height: 1.2em;
            h1 {
                font-weight: 800;
                font-size: 22px;
                padding-bottom: 5px;
                /* identical to box height */

                @include tablet {
                   font-size: 30px;
               }
            }
            h3 {
                font-weight: 500;
                font-size: 12px;
                @include tablet {
                    font-size: 18px;
                    padding-top: 8px;
                }
            }
            h5 {
                font-weight: bold;
                font-size: 12px;

                @include tablet {
                    font-size: 15px;
                }
            }

        }

        &__img {
           
            & img {
                width: 53px;
                object-fit: cover;
                height: 53px;
                border: 3px solid #000;
                border-radius: 50%;
                // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

                @include tablet {
                    width: 80px;
                    height: 80px;
                }
            }
        }
    } // header >> detail


    // indicator
    &__downlink {
        width: 100%;
        padding:12px 12px 20px 15px;
        @include align-item(space-between);

        @include desktop {
            margin-top: 20px;
            margin-bottom: 40px;
            padding: 20px 0;
       }

        & .indicators {
            margin-left: 12px;

            & span {
                // width: 2px;
                // height: 2px;
                background: white;
                padding: 3px 4px;
                border-radius: 50%;
                font-size: 1px;
                margin: 4px;

                
            }
            .ind {
                background-color: black;
            }
        }

        & .view-more a {
            background: white;
            border-radius: 60px;
            font-weight: 600;
            font-size: 12px;
            padding: 6px 10px;
            transition: $transition;

            &:hover {
                background: $link-color;
                color: white;
            }
        }
    }


//----------------------------SLIDE SHOW-----------------------------------------
 





}// main 

.bg-slide {
    margin-top: 15px;
    position: relative;
    padding: 0 10;
   

    .slide-show {
        @include align-item(space-between);
        @include snap-show;
        height: 500px;
        align-items: flex-start;
        position: relative;

        

        }

        // .direction {
        //     position: absolute;
        //     // @include align-item(space-between)
        //     background: red;
        //     // position: absolute;
        //     //   top: 50%;
        //     //   bottom: 50%;
        //     //   transform: translate(-50% -50%);
        // }

           & .left {
            position: absolute;
            top: 35%;
            font-size: 40px;
            left: 0;
            text-shadow: 2px 2px 8px rgb(255, 255, 255);
            cursor: pointer;
           }

           & .right {
            position: absolute;
            top: 35%;
            font-size: 40px;
            right: 0;
            text-shadow: 2px 2px 8px rgb(255, 255, 255);
            cursor: pointer;
           }
        


    & .slide {
        width:280px;
        height: 200px;
        position: relative;
        border-radius: 12px;
        margin: 12px;
        scroll-snap-align: center;

        @include desktop {
            width: 340px;
            height: 220px;
        }

    
        & img {
            width: 270px;
            height: 200px;
            border-radius: 12px;
            object-fit: cover;
            flex-grow: 1;

            @include desktop {
                width: 340px;
                height: 220px;
            }
        }

        &-text {
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.733) 0%, rgba(0, 0, 0, 0.733) 0%);
            border-radius: 12px;
            max-width: 100%;
            width: 280px;
            height: 200px;
            position: absolute;
            top: 0;
            padding: 5px 10px;
            border-radius: 12px;
            flex-grow: 1;
            // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.473);

            @include desktop {
                width: 340px;
                height: 220px;
            }

            & .top-link {
                @include align-item(space-between);

                & i {
                    color: white;
                    color: $heart-color;
                    background: white;
                    border-radius: 60px; 
                    padding: 3px 6px;
                    font-size: 14px;

                    @include desktop {
                        font-size: 20px;
                    }
                }

                a {
                    color: black;
                    background: #fff;
                    border-radius: 12px;
                    font-size: 12px;
                    padding: 2px 8px;
                    font-weight: 500;
                    transition: 0.3s all ease-in-out;

                    &:hover {
                        background: $link-color;
                        color: white;
                    }

                    @include desktop {
                        font-size: 15px;
                    }
                }
            }

            & h3 {
                text-align: center;
                color: white;
                margin-top: 50px;
                text-shadow: 2px 2px 8px rgb(255, 255, 255);

                @include desktop {
                    margin-top: 50px;
                    font-size: 24px;
                    font-weight: 400;
                }
            }

            & .bottom-link {
                position: absolute;
                bottom: 0;
                padding: 5px 8px;
                left: 0;
                 font-size: 11px;
                @include align-item(space-between);
                width: 100%;
                color: #C4C4C4;
                font-weight: 600;
                transition: 0.5s ease-in-out;

                

                @include desktop {
                    font-size: 15px;
                }

                .f-message {

                    i {
                        color: #C4C4C4;
                    }
                }

            }
        }
        
    }

   
}



// site body styling
.body {
    margin-top: 40px;
    width: 100%;
    height: auto;
    position: relative;

    & h1 {
        @include large-font;
        padding: 0px 0px 7px 15px;

        @include desktop {
            padding: 0px 0px 7px 0px;
        }

    }

    &__section-links {
        background: $section-color;
        border-radius: 0px 50px 0px 0px;
        height: 100px;        
        position: relative;

        @include desktop {
            border-radius: 0px 0px 0px 0px;

        }

        

          & .link-w {
            position: relative;
           

            .align-links {
                width: 100%;
                padding: 12px 15px;
                @include align-item(space-between);

                @include desktop {
                    padding: 12px 0px;
        
                }
            }


            & a {
                font-weight: 600;
                font-size: 14px;
                letter-spacing: .1em;
                transition: $transition;

                @include desktop {
                    font-weight: 400;
                font-size: 16px;
                }
                &:hover {
                    color: black;
                }
            }

            .link-active {
                padding: 3px 0px;
                color: black;
                border-bottom: 2px solid black;
            }

        }
        
    }
      
        &__content {
            position: absolute;
            margin-top: 85px;
            top: 0;
            left: 0;
            background: white;
            width: 100%;
            height: 244px;
            border-radius: 0px 50px 0px 0px;

            @include desktop {
                border-radius: 0px 0px 0px 0px;
    
            }
           

            &-wrapper {
                padding: 10px;
                position: relative;
                width: 100%;
                height: auto;
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
                grid-gap: 0px;
               

                @include desktop {
                    grid-gap:16px;
                }

                @include tablet {
                    // width: 300px;
                    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

                }

                & .content {
                    height: 200px;
                    position: relative;
                    margin: 8px;
                   
                   



                    .project-img {
                        width: 100%;
                        height: 200px;
                        border-radius: 12px;
                        object-fit: cover;
                        flex-grow: 1;

                    }

                    &__text {
                        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.685) 81.35%);
                        border-radius: 12px;
                        // max-width: 100%;
                        width: 100%;
                        height: 200px;
                        position: absolute;
                        top: 0;
                        border-radius: 12px;
                        flex-grow: 1;
                        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.473);


                        & .top-icon {
                            @include align-item(space-between);

                                
                                img {
                                    margin-left: 9px;
                                    width: 17px;
                                    height: 30px;  
                                }
                                .love-icon {
                                    margin-right: 8px;

                                i {
                                    color: $heart-color;
                                    background: white;
                                    border-radius: 60px; 
                                    padding: 3px 6px;
                                }
                            }
                        }// content__text > top-icon 

                        .bottom-text {
                            padding: 8px;
                            position: absolute;
                            bottom: 0;

                            a {
                                color: #F49797;
                                font-weight: 600;
                                font-size: 13px;
                            }

                            i {
                                color: #C4C4C4;
                            }
                            span {
                                font-size: 10px;
                                font-weight: 500;
                                color: #C4C4C4;

                            }
                        }

                        

                    }// conntent__text
                }
               
                    
                }
            }// body__content
        
        .link-btn {
            text-align: center;
            margin-top: 12px;
            box-sizing: border-box;

            & a {
                width: 100px;
                border: 1px solid #000000;
                padding: 6px 12px;
                font-size: 12px;
                transition: $transition;

               &:hover {
                   background: $link-color;
                   color: white;
               }
            }
           
            }

            // friend section styling
            .friends {
                margin-top: 100px;

                @include desktop {
                    margin-top: 200px;

                }

                h3 {
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 20px;
                    color: $link-color;
                    padding: 0px 15px;
                    
                }
                h1 {
                    padding: 0px 15px;
                    @include large-font;
                    line-height: 1.6em;
                }
                .fr-show {
                    height: 500px;
                    @include snap-show;
                    @include align-item(space-between);
                    align-items: flex-start;
                }
                .friends-container {
                    min-width: 230px;
                    height: auto;
                    margin: 10px 16px;
                    padding: 15px;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

                    & img {
                        width: 100%;
                        object-fit: cover;
                        height: 180px;
                        box-shadow : 0px 4px 4px rgba(0, 0, 0, 0.25);

                    }

                    .friends-text {
                        padding: 10px 0px 0px 0px;
                        display: flex;


                       

                        img {
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                        }


                        .text {
                            padding: 0 12px 12px 12px;

                            h3 {
                                font-size: 14px;
                                padding: 0;
                            }
                            
                            h5 {
                                color: $light-color;
                                font-size: 12px;
                                font-weight: 500;
                            }
                        }
                    }
                }
            }



            // // category section styling

            // .category {
            //     margin-top: 100px;
            //     text-align: justify;
            // }
            // & .cat {
            //     height: 100px;
            //     width: 180px;
            //     font-size: 14px;
            //     padding: 0;
            //     margin: 0;

            //     img {
            //         width: 100%;
            //     }
            // }



            .friends {
                padding: 15px;

                h3,h1 {
                    padding: 0;
                }

                .f-content-wrapper {
                    width: 100%;
                    height: 100px;
                    background:linear-gradient(180deg, rgba(0, 0, 0, 0.205) 26.86%, rgba(0, 0, 0, 0.705) 65.1%,rgba(0, 0, 0, 0.952) 97.92%),
                    url('/assert/img/dribble.png');
                    @include background-setting;
                    margin-top: 16px;
                    margin-bottom: 10px;
                    margin-right: 10px;
                    


                    .f-content {
                        padding: 35px 0px 5px 15px;
    
                        & h2 {
                            font-size: 20px;
                            color:#F49797;
                        }
    
                        & p {
                            font-size: 12px;
                            color: white;
                        }
                    }
                    
                }

                .behance {
                    background:linear-gradient(180deg, rgba(0, 0, 0, 0.205) 26.86%, rgba(0, 0, 0, 0.705) 65.1%, rgba(0, 0, 0, 0.952) 97.92%),
                    url('/assert/img/behance.png');
                    @include background-setting;

                    .f-content {
                    h2 {
                        color: #0C41FA;
                    }
                }
                }

               
                
            }


            
        
}// body




.footer {
    background: #222121;
    width: 100%;
    height: auto;
    margin-top: 50px;

    &__content {
        padding: 15px;
        display:flex;
        width: 100%;

        @include desktop {
            padding: 30px 15px;

        }

        & img {
            max-width: 53px;
            object-fit: cover;
            height: 53px;
            border: 3px solid #fff;
            border-radius: 50%;
            // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        
            @include desktop {
                min-width: 70px;
                height: 68px;
            }
        
        }

        &-text {
            padding-left: 15px;
            color: white;
            
            h1 {
                padding: 0;
                padding-bottom: 5px;
                font-weight: 600;
                font-size: 20px;
            }
            h3 {
                color: #C4C4C4;
                font-weight: 500;
                font-size: 12px;
            }
            h5 {
                font-weight: bold;
                font-size: 12px;
                padding-top: 5px;
            }
            p {
                font-size: 12px;
                font-weight: 400;
                padding-top: 5px;
            }

            &-link {
                margin-top:20px;

                a {
                    color: #222121;;
                    padding:5px 9px;
                    width: 23px;
                    height: 33px;
                    border-radius: 50%;
                    font-size: 15px;
                    background: white;
                    margin-right: 10px;
                    transition: 0.5s ;

                    &:hover {
                        color: white;
                        background: #222121;
                        filter:drop-shadow(0 1px 10px rgba(0,0,0,.8));
                    }
                }


            }

            .copy {
                font-size: 12px;
                margin-top: 15px;
                color: #C4C4C4
            }
        }
 
    }
}



























