

$font-weights: (
    'regular': 400,
    'medium': 500,
    'bold': 700
);

$m-padding: 15px 20px;

// global fonts

$table-size: 768px;
$transition: 340ms all ease-in-out;



@mixin desktop {
    @media (min-width: 900px) {
        @content
    }
}







